{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>HI! I'm Chetan.<br> <br>

                    I am a python developer with added skills of motion graphic designing, video editing and social media marketing. I have completed my bachelor's in multimedia. I have always tried to ensure that the position and enthusiasm for my work has shone through. <br> <br>

                    I have learnt that having a platform to question and develop ideas harness greater creativity, although realizing creativity inspiration doesn't come without it's obstacles! Obstacles such as time management and working to tight deadlines are important in any industry, but the foundation and biggest challenges of design lie in communication.
                    In all my work, I have relished these challenges and used them to fuel my ambition and maintain my own high standards. 
                    <br> <br>
                    Feel free to get in touch to request a quote for a project, inquire about a collaboration, or simply say hello-ctaneja10@gmail.com</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}